@import 'proxima';

html,
body {
  background-color: #000;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 14px proxima-nova;
  margin: auto;
  width: 512px;
}

a {
  text-decoration: none;
}

@import 'components/app';
@import 'components/chooser-app';
