doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheet.bundle.css')
  body
    block content
    script(type='text/javascript', src='/vendor.bundle.js')
    script(type='text/javascript', src='/admin.bundle.js')
