extends layout

block content
  if user.is_active
    div&attributes({ 'data-relay-class': 'landing-app', 'data-relay-route': 'viewer-route' })
  else
    div&attributes({ 'data-relay-class': 'chooser-app', 'data-relay-route': 'viewer-route' })
