extends layout

block content
  if user.is_active
    main&attributes({
      'data-relay-class': 'LandingApp',
      'data-relay-route': 'ViewerRoute'
    })
  else
    main&attributes({
      'data-relay-class': 'ChooserApp',
      'data-relay-route': 'ViewerRoute',
    })
