extends ../layout

block content
  h1= title
  div&attributes({
    'data-relay-class': 'theme-app',
    'data-relay-route': 'theme-app-route',
    'data-route-props': {
      themeID: theme.id
    }
  })
