.topic-link-form-insights-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topic-link-form-insight {
  background-color: #333;
  font-size: 15px;
  margin: 5px 0;
  padding: 5px;
  position: relative;

  > a.remove {
    background-color: #f00;
    color: white;
    display: none;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 12px;
  }

  &:hover > a.remove {
    display: block;
  }
}
